---
import Layout from "@/layouts/Layout.astro";
import WorksPanel from "@/components/reactComponent/works/WorksPanel.jsx";
const auth = Astro.locals.auth();
if (!auth?.userId) {
  return Astro.redirect("/sign-in");
}
---
<Layout>
<div class="flex flex-col items-center justify-center w-dvw p-2 ">
    <h1 class="text-2xl font-bold">AREA LAVORI</h1>
  <p>Ricordati che è in fase di test, non ci fare troppo affidamento 😅😂</p>
<a class="text-blue-500 hover:underline" href="/">Torna alla home</a>
</div>
  <WorksPanel client:load/>
</Layout>