---
import Layout from '../layouts/Layout.astro';
// import WorksTable from '../components/WorksTable.astro';



---

<Layout>
	<div class="w-dvw flex flex-col">
		<h1 class="text-xl">
		Hello isab 2025@
	</h1>
	<!-- <WorksTable/> -->
	
	</div>
	</div>
</Layout>

