---
import Layout from '../layouts/Layout.astro';
// import WorksTable from '../components/WorksTable.astro';


---

<Layout>
	<div class="w-dvw p-6 flex flex-col gap-4 items-center justify-center">
	
	<!-- <WorksTable/> -->
	
	
  <a href="/dashboard">Go to Dashboard  </a>
	</div>
	</div>
</Layout>