---
import Layout from '../layouts/Layout.astro';
// import WorksTable from '../components/WorksTable.astro';

import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/react"
---

<Layout>
	<div class="w-dvw flex flex-col">
		<h1 class="text-xl">
		Hello isab 2025@
	</h1>
	<!-- <WorksTable/> -->
	
	 <div class="p-6 flex flex-col gap-4">

    <SignedIn client:load>
      <UserButton client:load />
      <p>Sei loggato ✅</p>
    </SignedIn>

    <SignedOut client:load>
      <SignInButton client:load mode="modal" />
    </SignedOut>

  </div>
	</div>
	</div>
</Layout>