---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="w-dvw min-h-[calc(100vh-64px)] flex flex-col  items-center text-center">
    <img src="/images/ui/tcl-operatore.png" alt="operatore tcl" class="w-72  object-contain" />
    <h2 class="text-2xl font-bold text-sky-800 mt-4 mb-2">
      Benvenuto in TCL Work Organizer
    </h2>

    <p class="text-sky-800 max-w-md">
      Gestisci lavori, stati e avanzamenti in modo semplice e centralizzato.
    </p>

    <div class="flex gap-4">
      <a
        href="/dashboard"
        class="bg-green-600 text-white px-6 py-3 rounded font-semibold"
      >
        Vai alla Dashboard
      </a>
    </div>

  </section>
</Layout>
