---
import WorksTable from '../components/WorksTable.astro';
import Layout from '../layouts/Layout.astro';
import TestReact from '../ReactComponents/TestReact';


---

<Layout>
	<div class="w-dvw flex flex-col">
		<h1 class="text-xl text-red-500">
		Hello isab 2025@
	</h1>
	<!-- <WorksTable/> -->
	<TestReact client:load>
	</div>
	</div>
</Layout>

