---
const worksData=[]
---

<div class="w-dvw bg-amber-100">
  <h3>hellooooo TCL</h3>
  <form
    method="POST"
    action="/api/work"
    class="p-4 bg-gray-100 rounded-lg space-y-4 w-full"
  >
    <div class="grid grid-cols-4 gap-4">
      <label class="flex flex-col text-sm">
        Avviso n.
        <input type="text" name="avviso" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        ODC
        <input type="text" name="odc" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        PDL
        <input type="text" name="pdl" class="border px-2 py-1 rounded" />
      </label>

      <label class="flex flex-col text-sm">
        DITTA
        <input type="text" name="ditta" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col col-span-4 text-sm">
        DESCRIZIONE ATTIVITÀ
        <input type="text" name="attivita" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        REFERENTE
        <input type="text" name="referente" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        AREA
        <input type="text" name="area" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        IMPIANTO
        <input type="text" name="impianto" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        ITEM
        <input type="text" name="item" class="border px-2 py-1 rounded" />
      </label>
      <label class="flex flex-col text-sm">
        INIZ
        <input type="date" name="iniz" class="border px-2 py-1 rounded" />
      </label>

      <label class="flex flex-col text-sm">
        FINE
        <input type="date" name="fine" class="border px-2 py-1 rounded" />
      </label>
    </div>

    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">
      Salva lavoro
    </button>
  </form>
</div>
